        .container {
            width: 100%;
            margin: 0;
            padding: 0 0 20px 0;
        }
        
        .container img {
            width: 100%;
            border-radius: 0;
        }
        
        aside.right {
            width: 100%;
            float: none;
        }
        
        aside.left {
            width: 100%;
            float: none;
        }