@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: url(../img/backgroung.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: rgb(255, 107, 131);
    font-size: 50px;
}

.container {
    width: 600px;
    height: auto;
    margin: 100px auto auto;
    background-color: white;
    border-radius: 5rem 5rem 0 0;
    padding: 0 0 50px 0;
}

.container img {
    width: 100%;
    border-radius: 5rem 5rem 0 0;
}

aside.right {
    width: 40%;
    float: right;
}

p,
q {
    font-family: 'Open Sans', sans-serif;
    padding: 40px 20px;
    text-align: center;
}

aside.left {
    width: 40%;
    float: left;
}

blockquote {
    border-left: 5px solid black;
    height: fit-content;
    padding: 0 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}
